Package: com.justanokapi.okapi
Name: Okapi Icons
Version: 0.9
Architecture: iphoneos-arm
Description: None of these icons are mine. All icons are from LineX and LineBit icon packs on android.
Author: JustAnOkapi
Maintainer: JustAnOkapi
Section: Themes
Depends: com.anemonetheming.anemone | com.spark.snowboard
